.container-NavBarAll {
    background: #2C3E50;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(8,);
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-logo__Navbar {
    grid-column: 1/3;
    width: 45px;
}

.container-FilterSearch__Navbar {
    grid-column: 3/7;
    width: 800px;
}

.inputSearchNavBar {
    margin-bottom: 10px;
    padding: 0 0 0 10px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
}
.filter-Mavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-Button-Cart {
    grid-column: 7/9;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartShopping{
    position: relative;
    color: white;
}

.heartFavorites {
    color: white;
    font-size: 30px;
    transition: 300ms;
}
.heartFavorites:hover {
    transform: scale(1.1);
}

.count-Cart {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #287ff9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #adb5bd;
    transform: translate(15px, -10px);
}

.filter-Mavbar Select {
    background: transparent;
    color: white;
    letter-spacing: 2px;
}