.container-ContactUs {
    /* border: 5px solid chocolate; */
    width: 90%;
    margin: 50px auto;
}

.container-ContactUs h1 {
    /* border: 1px solid red; */
    color: #287ff9;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 80px 0 0 0;
    text-align: center;
}

.row-ContactUs {
    /* border: 1px solid blue; */
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(2, 1fr);
}
.address-ContactUs {
    padding: 0 5px;
    grid-column: 1 / 2;
}

.form-ContactUs{
    grid-column: 2 / 3;
}

.column-ContactUs {
    /* border: 1px solid red; */
    margin-bottom: 20px;
    width: 50%;
}

.contact-widget-item {
    text-align: left;
    align-items: center;
    overflow: hidden;
    margin-bottom: 40px;
}

.text-ContactUs {
    overflow: hidden;
}

.text-ContactUs h2 {
    margin-top: 10px;
}

.text-ContactUs p {
    font-size: 16px;
    color: #111;
}

.contact-form-ContactUs {
    text-align: center;
}

form {
    display: block;
    margin-top: 0em;
}

form input {
    height: 46px;
    width: 100%;
    padding-left: 20px;
    font-size: 15px;
    color: #111;
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;
    border-radius: 4px;
    transition: all, 0.3s;
}

form textarea {
    height: 110px;
    width: 100%;
    padding-left: 20px;
    padding-top: 12px;
    font-size: 15px;
    color: #111;
    border: 1px solid #e1e1e1;
    resize: none;
    margin-bottom: 9px;
    border-radius: 4px;
    transition: all, 0.3s;
    margin-bottom: 30px;
}

form button {
    width: 100%;
    cursor: pointer;
}

.site-btn {
    border: none;
    background: rgba(255, 215, 35, 0.3);
    color: #111; 
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    padding: 12px 40px 10px;
}
.site-btnDesaprobated {
    cursor: default;
    border: none;
    background: #e9ecef;
    color: #adb5bd;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    padding: 12px 40px 10px;
}

.map-column-ContactUs {
    flex: 0 0 auto;
    width: 100%;
}

.contactUs-map iframe {
    width: 100%;
}


.danger {
    color: red;
    position: absolute;
    margin: -30px 20px 0 0;
}


@media screen and (max-width: 1200px) {
    .container-ContactUs {
        max-width: 960px;
    }
}

@media screen and (max-width: 990px) {
    .container-ContactUs {
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .container-ContactUs {
        max-width: 540px;
    }
    .column-ContactUs {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .contactUs-heading {
        padding-right: 0;
    }
    .contactUs-heading h1 {
        font-size: 22px;
    }
}