.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #2C3E50;
    color: white;
}
.link{
    color: white;
    margin: 10px;
}

.panelAdminFaHouseUser {
    color: white;
    font-size: 20px;
}